<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.liquoreview.model.domain.admin.Auth" alias="Auth"/>
		<typeAlias type="com.liquoreview.model.domain.member.Member" alias="Member"/>
		<typeAlias type="com.liquoreview.model.domain.member.MemberPw" alias="MemberPw"/>
		<typeAlias type="com.liquoreview.model.domain.admin.HiberAccount" alias="HiberAccount"/>
		<typeAlias type="com.liquoreview.model.domain.admin.DelAccount" alias="DelAccount"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/liquoreview/mybatis/mapper/AuthMapper.xml"/>
		<mapper resource="com/liquoreview/mybatis/mapper/MemberMapper.xml"/>
		<mapper resource="com/liquoreview/mybatis/mapper/MemberPwMapper.xml"/>
		<mapper resource="com/liquoreview/mybatis/mapper/HiberAccountMapper.xml"/>
		<mapper resource="com/liquoreview/mybatis/mapper/DelAccountMapper.xml"/>
	</mappers>
</configuration>