<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AlcoholMapper">
	<select id="alcLstAllCnt" resultType="int">
		/*총 게시물 수 조회*/
		SELECT   /*alcCountTopCate*/
				COUNT(1)
		FROM ALCOHOL A
	</select>
	
	<select id="alcoholLstIqrPager" resultType="Alcohol">
		/*주류 전체 조회(LIMIT 함수 사용) 기존에 사용하던 ROWNUM 사용 안함.(정렬에 문제가 있으므로 변경), 이양원*/
		SELECT  /*alcoholLstIqrPager*/
			  A.ALCOHOL_ID
			, A.ALC_IMG_ID
			, (SELECT TOPCATEGORY_ID FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = B.TOPCATEGORY_ID) AS TOPCATEGORY_ID
			, (SELECT NAME  FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = B.TOPCATEGORY_ID) AS TOP_NM
			, B.SUBCATEGORY_ID
			, B.NAME AS SUB_NM
			, A.NAME AS ALCOHOL_NM
			, A.DEGREE AS ALC_DEGREE
			, A.DETAIL AS ALC_DETAIL
			, C.FILENAME
			, A.REGDATE
			, A.LAST_MODI_YMD
		  FROM ALCOHOL A INNER JOIN SUBCATEGORY B
		  	ON A.SUBCATEGORY_ID = B.SUBCATEGORY_ID
		  LEFT OUTER JOIN ALC_IMG C
		  	ON A.ALCOHOL_ID = C.ALCOHOL_ID
		  WHERE 1=1
			  /*검색 기능 추가 전(mybatis 조건 부여 예정)*/
			  /*AND ALCOHOL_NM LIKE '%'||ALCOHOL_NM||'%' */
		  ORDER BY ALCOHOL_ID DESC
		  LIMIT #{pageStart}, #{perPageNum}/*시작 행, 출력할 갯수*/		
	</select>
	
	<!-- <select id="alcoholLstIqrPager" resultType="Alcohol">
		/*주류 전체 조회 + 페이징(추 후 검색 조건 추가 예정), 이양원*/
		SELECT   /*alcoholLstIqrPager*/
				XX.*
		  FROM (SELECT  
					     @ROWNUM:=@ROWNUM+1 AS NUM
					  ,  A.ALCOHOL_ID
					  , (SELECT TOPCATEGORY_ID FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = B.TOPCATEGORY_ID) AS TOPCATEGORY_ID
					  , (SELECT NAME  FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = B.TOPCATEGORY_ID) AS TOP_NM
					  , B.SUBCATEGORY_ID
					  , B.NAME AS SUB_NM
					  , A.NAME AS ALCOHOL_NM
					  , A.DEGREE AS ALC_DEGREE
					  , A.DETAIL AS ALC_DETAIL
					  , A.REGDATE
					  , A.LAST_MODI_YMD
				    FROM ALCOHOL A INNER JOIN SUBCATEGORY B
				    ON A.SUBCATEGORY_ID = B.SUBCATEGORY_ID
						INNER JOIN (SELECT @ROWNUM := 0) TMP
					  LEFT OUTER JOIN ALC_IMG C
						ON A.ALCOHOL_ID = C.ALCOHOL_ID
				    WHERE 1=1
				    ORDER BY A.ALCOHOL_ID DESC) XX
				    /* NewPager 로직 수정하고 아래 조회쿼리 사용할 것.*/
		  WHERE 1=1
		      AND XX.ALCOHOL_ID BETWEEN #{start} AND #{end}
		  ORDER BY XX.ALCOHOL_ID DESC
	</select>  -->
	
		<!-- 사용하던 페이징 쿼리 변경  예정   
			=> 변경 사유 : sorting이 제대로 안먹힘.
			쿼리 수정시 NewPager 수정해야함.
	<select id="alcoholLstIqrPager" resultType="Alcohol">
		/*주류 전체 조회 + 페이징(추 후 검색 조건 추가 예정) + 기존에 사용하던 조회쿼리 수정  2021. 06. 01, 이양원*/
		SELECT  /*alcoholLstIqrPager*/
			  A.ALCOHOL_ID
			, A.ALC_IMG_ID
			, (SELECT TOPCATEGORY_ID FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = B.TOPCATEGORY_ID) AS TOPCATEGORY_ID
			, (SELECT NAME  FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = B.TOPCATEGORY_ID) AS TOP_NM
			, B.SUBCATEGORY_ID
			, B.NAME AS SUB_NM
			, A.NAME AS ALCOHOL_NM
			, A.DEGREE AS ALC_DEGREE
			, A.DETAIL AS ALC_DETAIL
			, C.FILENAME
			, A.REGDATE
			, A.LAST_MODI_YMD
		  FROM ALCOHOL A INNER JOIN SUBCATEGORY B
		  	ON A.SUBCATEGORY_ID = B.SUBCATEGORY_ID
		  LEFT OUTER JOIN ALC_IMG C
		  	ON A.ALCOHOL_ID = C.ALCOHOL_ID
		  WHERE 1=1
			  /*검색 기능 추가 전(mybatis 조건 부여 예정)*/
			  /*AND ALCOHOL_NM LIKE '%'||ALCOHOL_NM||'%' */
		  ORDER BY ALCOHOL_ID DESC
		  LIMIT #{start} OFFSET #{end}
	</select> -->
	
	<select id="alcoholLstDtl" resultType="Alcohol" parameterType="int">
		/*주류 상세 조회, 이양원*/
		SELECT   /*alcoholLstDtl*/
			  A.ALCOHOL_ID
			, A.ALC_IMG_ID
			, (SELECT TOPCATEGORY_ID FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = B.TOPCATEGORY_ID) AS TOPCATEGORY_ID
			, (SELECT NAME  FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = B.TOPCATEGORY_ID) AS TOP_NM
			, B.SUBCATEGORY_ID
			, B.NAME AS SUB_NM
			, A.NAME AS ALCOHOL_NM
			, A.DEGREE AS ALC_DEGREE
			, A.DETAIL AS ALC_DETAIL
			, C.FILENAME
			, A.REGDATE
			, A.LAST_MODI_YMD
		    FROM ALCOHOL A INNER JOIN SUBCATEGORY B
		      ON A.SUBCATEGORY_ID = B.SUBCATEGORY_ID
		    LEFT OUTER JOIN ALC_IMG C
		      ON A.ALC_IMG_ID = C.ALC_IMG_ID
		    WHERE 1=1
		  		 AND A.ALCOHOL_ID = #{ALCOHOL_ID}
	</select>
	
	<select id="topLst" resultType="Alcohol">
		/*주류 상위 카테고리 조회, 이양원*/
		SELECT  /*topLst*/
			  TOPCATEGORY_ID
			, NAME AS TOP_NM
		  FROM TOPCATEGORY
		  ORDER BY TOPCATEGORY_ID
	</select>
	
	<select id="subLst" parameterType="map" resultType="Alcohol">
		/*주류 하위 카테고리 조회, 이양원*/
		SELECT  /*subLst*/
			  SUBCATEGORY_ID
		    , TOPCATEGORY_ID
			, NAME AS SUB_NM
		  FROM SUBCATEGORY
		  WHERE 1=1
			  AND TOPCATEGORY_ID = #{TOPCATEGORY_ID}
	</select>
	
	<insert id="topCateReg" parameterType="Alcohol">
		/*상위 카테고리 등록, 이양원*/
		INSERT  /*topCateReg*/
		    INTO TOPCATEGORY(
				  NAME
				, REGDATE
				, LAST_MODI_YMD
			)
			VALUES(
				  #{TOPCATEGORY_ID}
				, SYSDATE()
				, SYSDATE()
			)
	</insert>
	
	<insert id="subCateReg" parameterType="Alcohol">
		/*하위 카테고리 등록, 이양원*/
		INSERT  /*subCateReg*/
			INTO SUBCATEGORY(
				  TOPCATEGORY_ID
				, NAME
				, REGDATE
				, LAST_MODI_YMD
			)
			VALUES(
				  #{TOPCATEGORY_ID}
				, #{SUB_NM}
				, SYSDATE()
				, SYSDATE()
			)
	</insert>
	
	<insert id="alcoholReg" parameterType="map">
		/*주류 정보 등록, 이양원*/
		INSERT   /*alcoholReg*/
			INTO ALCOHOL(
				  SUBCATEGORY_ID
				, NAME
				, DEGREE
				, DETAIL
				, ALC_IMG_ID
				, REGDATE
				, LAST_MODI_YMD
			)
			VALUES(
				  #{SUBCATEGORY_ID}
				, #{ALCOHOL_NM}
				, #{ALC_DEGREE}
				, #{ALC_DETAIL}
				<!-- <choose>  서비스단에서 조건 부여, 2021. 06. 12 by 이양원
					<when test="ALC_IMG_ID != null and ALC_IMG_ID != ''">
						, (SELECT NVL(MAX(ALC_IMG_ID),0 )+ 1 FROM ALC_IMG)
					</when>
					<otherwise>
						, null
					</otherwise>
				</choose> -->
				, #{ALC_IMG_ID}
				, SYSDATE()
				, SYSDATE()
			)	
	</insert>
	
	<insert id="alcImgReg" parameterType="map">
		/*주류 이미지 등록, 이양원*/
		INSERT
			INTO ALC_IMG (
				  ALC_IMG_ID
				, ALCOHOL_ID
				, FILENAME
				, THUMB_YN
				, REGDATE
				, LAST_MODI_YMD
		    )
		    SELECT
		          /*(SELECT NVL(MAX(ALC_IMG_ID),0 )+ 1 FROM ALC_IMG) AS ALC_IMG_ID  서비스단에서 조건 부여, 2021. 06. 12 by 이양원 */
		          #{ALC_IMG_ID}
		  	    , NVL(MAX(A.ALCOHOL_ID), 0) AS ALCOHOL_ID
		  	    , #{FILENAME} AS FILENAME
		  	    , #{THUMB_YN} AS THUMB_YN
		  	    , SYSDATE()
		  	    , SYSDATE()
			  FROM ALCOHOL A
	</insert>
	
	<delete id="alcoholDel" parameterType="int">
		/*주류 정보 삭제, 이양원*/
		 DELETE FROM ALCOHOL  /*alcoholDel*/
		 WHERE 1=1
		     AND ALCOHOL_ID = #{ALCOHOL_ID}
	</delete>
	
	<delete id="alcoholImgDel" parameterType="int">
		/*주류 이미지 삭제, 이양원*/
		DELETE   /*alcoholImgDel*/
			FROM ALC_IMG 
			WHERE 1=1 
					AND ALCOHOL_ID = (SELECT
														 A.ALCOHOL_ID 
													FROM ALCOHOL A
															, ALC_IMG B
													WHERE 1=1
														AND A.ALCOHOL_ID = B.ALCOHOL_ID
														AND A.ALCOHOL_ID = #{ALCOHOL_ID}) 
	</delete>
	

</mapper>