<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryMapper">
	<select id="topCateLstIqr" resultType="Topcategory">
		/*상위 카테코리 목록 전체조회, 이양원*/
		SELECT   /*topCateLstIqr*/
			  TOPCATEGORY_ID
			, NAME AS TOP_NM
			, REGDATE
			, LAST_MODI_YMD
		  FROM TOPCATEGORY
	    ORDER BY TOPCATEGORY_ID
	</select>
	
	<select id="subCateLstIqr" resultType="Subcategory">
		/*하위 카테고리 목록 전체조회, 이양원*/
		SELECT   /*subCateLstIqr*/
			  A.SUBCATEGORY_ID
			, A.TOPCATEGORY_ID
			, (SELECT NAME FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = A.TOPCATEGORY_ID) AS TOP_NM
			, A.NAME AS SUB_NM
			, A.REGDATE
			, A.LAST_MODI_YMD
		  FROM SUBCATEGORY A
		  ORDER BY SUBCATEGORY_ID, TOPCATEGORY_ID
	</select>
	
	<insert id="topCateReg" parameterType="Alcohol">
		/*상위 카테고리 등록, 이양원*/
		INSERT   /*topCateReg*/
		    INTO TOPCATEGORY(
				  NAME
				, REGDATE
				, LAST_MODI_YMD
			)
			VALUES(
				  #{TOPCATEGORY_ID}
				, SYSDATE()
				, SYSDATE()
			)
	</insert>
	
	<insert id="subCateReg" parameterType="Alcohol">
		/*하위 카테고리 등록, 이양원*/
		INSERT   /*subCateReg*/
			INTO SUBCATEGORY(
				  TOPCATEGORY_ID
				, NAME
				, REGDATE
				, LAST_MODI_YMD
			)
			VALUES(
				  #{TOPCATEGORY_ID}
				, #{SUB_NM}
				, SYSDATE()
				, SYSDATE()
			)
	</insert>
	
	<select id="countTopCate" resultType="int">
		/*총 게시물 수 조회*/
		SELECT
			COUNT(1)
		   FROM TOPCATEGORY
	</select>
	
	<select id="topCateLstIqrPager"  resultType="Topcategory" >
		/*상위 카테코리 목록 전체조회 + 페이징  조회, 이양원*/
		SELECT   /*topCateLstIqrPager*/
				XX.*
		  FROM (SELECT   
						  @ROWNUM:=@ROWNUM+1 AS NUM
						, AA.TOPCATEGORY_ID
						, AA.NAME AS TOP_NM
						, AA.REGDATE
						, AA.LAST_MODI_YMD
	                  FROM TOPCATEGORY AA
							 , (SELECT @ROWNUM := 0) TMP
					  ORDER BY TOPCATEGORY_ID) XX
		  WHERE 1=1
		      AND NUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="countSubCate" resultType="int">
		/*총 게시물 수 조회*/
		SELECT
			COUNT(1)
		   FROM SUBCATEGORY
	</select>
	
	<select id="subCateLstIqrPager"  resultType="Subcategory" >
		/*하위 카테고리 목록 전체조회, 이양원*/
		SELECT   /*subCateLstIqr*/
					XX.*
			FROM(SELECT   
						  @ROWNUM:=@ROWNUM+1 AS NUM
						, A.SUBCATEGORY_ID
						, A.TOPCATEGORY_ID
						, (SELECT NAME FROM TOPCATEGORY WHERE 1=1 AND TOPCATEGORY_ID = A.TOPCATEGORY_ID) AS TOP_NM
						, A.NAME AS SUB_NM
						, A.REGDATE
						, A.LAST_MODI_YMD
					  FROM SUBCATEGORY A 
					        , (SELECT @ROWNUM := 0) TMP
					  ORDER BY SUBCATEGORY_ID, TOPCATEGORY_ID) XX
			WHERE 1=1
		        AND NUM BETWEEN #{start} AND #{end}
	</select>
</mapper>