<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Subcategory">
	<resultMap type="Subcategory" id="SubcategoryMap">
		<id column="SUBCATEGORY_ID" property="subcategory_id"/>
		<result column="SUBNAME" property="subname"/>
		<result column="REGDATE" property="regdate"/>
		<result column="LAST_MODI_YMD" property="last_modi_ymd"/>
		<association column="TOPCATEGORY_ID" property="topcategory" javaType="Topcategory" select="Topcategory.select"/>
	</resultMap>
	
	<sql id="sql_select">
		select 	 SUBCATEGORY_ID
					,TOPCATEGORY_ID
					,SUBNAME
					,REGDATE
					,LAST_MODI_YMD
		  from 	subcategory
	</sql>
	
	<select id="totalSubcateCnt" resultType="int">
		select
			count(SUBCATEGORY_ID)
		  from subcategory
		where SUBCATEGORY_ID > 0
	</select>
	
	<select id="sortedSubcateCnt" resultType="int">
		select
			count(SUBCATEGORY_ID)
		 from subcategory
		where SUBCATEGORY_ID > 0
		   and TOPCATEGORY_ID = #{topcategory.topcategory_id}
	</select>
	
	<select id="selectAll" resultMap="SubcategoryMap">
		<include refid="sql_select"/>
		order by TOPCATEGORY_ID, SUBCATEGORY_ID
	</select>
	
	<select id="selectSubcateList" resultType="Subcategory">
		select     q.SUBCATEGORY_ID
					,TOPCATEGORY_ID
					,SUBNAME
					,REGDATE
					,LAST_MODI_YMD
		  from (
		  		select SUBCATEGORY_ID
		  		 from subcategory
		  		LIMIT #{pageSize, jdbcType=INTEGER} OFFSET #{curPos, jdbcType=INTEGER}
		  )q
		  JOIN subcategory p
		  ON p.SUBCATEGORY_ID = q.SUBCATEGORY_ID
		  order by SUBCATEGORY_ID asc
	</select>
	
	<select id="select" parameterType="int" resultMap="SubcategoryMap">
		<include refid="sql_select"/>
		where SUBCATEGORY_ID = #{subcategory_id}
	</select>
	
	<select id="selectAllByTopCate" parameterType="int" resultMap="SubcategoryMap">
		<include refid="sql_select"/>
		where TOPCATEGORY_ID = #{topcategory.topcategory_id}
		order by TOPCATEGORY_ID
	</select>
	
	<select id="sortedSubcateList" parameterType="hashmap" resultMap="SubcategoryMap">
		select     q.SUBCATEGORY_ID
					,p.TOPCATEGORY_ID
					,p.SUBNAME
					,p.REGDATE
					,p.LAST_MODI_YMD
		  from (
		  		select SUBCATEGORY_ID
		  		 from subcategory
		  		where TOPCATEGORY_ID = #{topcategory_id}
		  		LIMIT #{criteria.pageSize, jdbcType=INTEGER} OFFSET #{criteria.curPos, jdbcType=INTEGER}
		  )q
		  JOIN subcategory p
		  ON p.SUBCATEGORY_ID = q.SUBCATEGORY_ID
		  order by q.SUBCATEGORY_ID asc
	</select>
	
	<select id="selectByName" parameterType="String" resultMap="SubcategoryMap">
		<include refid="sql_select"/>
		where NAME = #{subname}
	</select>
	
	<!-- 서브카테고리 중복확인 -->
	<select id="cateNameCheck" parameterType="String" resultMap="SubcategoryMap">
		<include refid="sql_select"/>
		where NAME = #{subname}
	</select>
	
	<insert id="insert" parameterType="Subcategory">
		insert into subcategory(TOPCATEGORY_ID
										 ,SUBNAME
										 ,LAST_MODI_YMD
										)
	 		values(
	 									#{topcategory.topcategory_id}
	 								   ,#{subname}
	 								   ,now()
	 		);
	 	<selectKey order="AFTER" resultType="int" keyProperty="subcategory_id">
	 		select last_insert_id()
	 	</selectKey>
	</insert>
	
	<update id="update" parameterType="Subcategory">
		update subcategory
								set
									 TOPCATEGORY_ID = #{topcategory.topcategory_id}
									,SUBNAME = #{subname}
									,LAST_MODI_YMD = now()
		 where SUBCATEGORY_ID = #{subcategory_id} 
	</update>
	
	<delete id="delete" parameterType="int">
		delete from subcategory
		where SUBCATEGORY_ID = #{subcategory_id}
	</delete>
	
	<!-- 검색 -->
	<select id="search" parameterType="String" resultMap="SubcategoryMap">
		<include refid="sql_select"/>
		where NAME like CONCAT('%',#{searchWord},'%')
	</select>
</mapper>