<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Topcategory">
	<sql id="sql_select">
		select 	 TOPCATEGORY_ID
					,TOPNAME
					,REGDATE
					,LAST_MODI_YMD
		  from 	topcategory
	</sql>
	
	<select id="totalTopcateCnt" resultType="int">
		select
			count(TOPCATEGORY_ID)
		  from topcategory
		 where TOPCATEGORY_ID > 0
	</select>
	
	<select id="selectAll" resultType="Topcategory">
		<include refid="sql_select"/>
		order by TOPCATEGORY_ID asc
	</select>
	
	<select id="selectTopcateList" resultType="Topcategory">
		select  q.TOPCATEGORY_ID
				 ,TOPNAME
				 ,REGDATE
				 ,LAST_MODI_YMD
		  from (
		  		select TOPCATEGORY_ID
		  		  from topcategory
		  		LIMIT #{pageSize, jdbcType=INTEGER} OFFSET #{curPos, jdbcType=INTEGER} 
		  ) q
		  JOIN topcategory p
		  ON p.TOPCATEGORY_ID = q.TOPCATEGORY_ID
		  order by TOPCATEGORY_ID asc
	</select>
	
	<select id="select" parameterType="int" resultType="Topcategory">
		<include refid="sql_select"/>
		where TOPCATEGORY_ID=#{topcategory_id}
	</select>
	
	<!-- 탑카테고리 중복확인 -->
	<select id="cateNameCheck" parameterType="String" resultType="Topcategory">
		<include refid="sql_select"/>
		where NAME=#{name}
	</select>
	
	<insert id="insert" parameterType="Topcategory">
		insert into topcategory(NAME
										,LAST_MODI_YMD
										) 
			values(
										#{topname}
									   ,now()
			)
	</insert>
	
	<update id="update" parameterType="Topcategory">
		update topcategory
								set
									 NAME = #{topname}
									,LAST_MODI_YMD = now()
		 where TOPCATEGORY_ID = #{topcategory_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from topcategory
		where TOPCATEGORY_ID = #{topcategory_id}
	</delete>
	
	<!-- 검색 -->
	<select id="search" parameterType="String" resultType="Topcategory">
		<include refid="sql_select"/>
		where NAME like CONCAT('%',#{searchWord},'%')
	</select>
</mapper>